.navbar-brand {
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
}

.sidebar-sticky > .nav {
    height: calc(100% - 39px);
}

.sidebar .nav-link,
.sidebar .logout-btn {
    font-weight: 500;
    color: #333;
    padding: .55rem 1rem;
    transition: color .35s ease, background-color .35s ease;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover,
.sidebar .logout-btn:hover {
    color: #007bff;
    background-color: rgba(0, 0, 0, .05);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather,
.logout-btn:hover .feather {
    color: inherit;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

.sidebar .nav-link .feather,
.logout-btn .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .logout-btn {
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
}

[role="main"] {
    padding-top: 133px;
}

.table-listing .action-btn {
    padding: 0;
    border: 0;
    margin-left: 3px;
    margin-right: 3px;
    color: #212529;
    background-color: transparent;
    transition: color .35s ease;
}

.btn-vote{
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    box-shadow: none !important;
    transition: all .35s ease;
}

.btn-vote .icn {
    font-size: 20px;
}

.btn-vote:hover .icn {
    color: #007bff;
}

.btn-vote .selected-icn {
    color: #007bff;
}

.btn-vote .icn-danger {
    vertical-align: middle;
}

.btn-vote:hover .icn-danger {
    color: #dc3545;
}

.btn-vote .selected-icn-danger {
    color: #dc3545;
}

.table-listing .action-btn:hover {
    color: #007bff;
}

.table-listing .action-btn.btn-del:hover {
    color: #dc3545;
}

.main-nav,
.auth-dropdown > .btn,
.auth-dropdown .dropdown-menu,
.auth-user-name{
    font-size: 14px;
}

.navbar-nav.main-nav .nav-link{
    transition: color .35s ease;
}

.navbar-nav.main-nav .nav-link:hover{
    color: #007bff;
}

.table-responsive{
    overflow-x: auto;
    overflow-y: hidden;
}

table.table{
    min-width: 750px;
    width: 100%;
    font-size: 14px;
}

h1, .h1{
    font-size: 28px;
}

h3, .h3{
    font-size: 22px;
}

.comments-block .comment-form{
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.comment-form .btn-submit,
.btn-logout,
.feedback-item-single{
    font-size: 14px;
}

.comments-block{
    background-color: #f2f2f2;
}

.comments-list .time{
    font-size: 11px;
    color: #b3b3b3;
    margin-left: 10px;
}

.comments-list .user-name{
    font-weight: 600;
    font-size: 15px;
}

.comments-list .comment-content{
    font-size: 13px;
    color: #000;
}

.mobile-menu-btn{
    cursor: pointer;
    display: none;
}


@media (max-width: 767px){
    .sidebar{
        max-width: 200px;
        width: 100%;
        transform: translateX(-200px);
        transition: transform .35s ease;
    }

    .mobile-menu-btn{
        display: inline-block;
    }

    body.menu-open{
        position: relative;
        overflow-y: hidden;
    }

    body.menu-open:before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, .25);
        transition: all .35s ease;
    }

    body.menu-open .sidebar{
        transform: translateX(0);
    }
}

@media (max-width: 400px){
    .navbar-brand{
        font-size: 14px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-left: 5px;
    }
}

@media (min-width: 768px){
    h1, .h1{
        font-size: 34px;
    }

    h3, .h3{
        font-size: 28px;
    }

    [role="main"] {
        padding-top: 54px;
    }

    table.table{
        font-size: 16px;
    }
}

@media (min-width: 992px){
    h1, .h1{
        font-size: 40px;
    }
}
